body, html {
    height: 100%;
}

#indexBody{
    background-image: url("../images/index-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#springBody{
    background-image: url("../images/spring.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}


#fallBody{
    background-image: url("../images/fall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#winterBody{
    background-image: url("../images/winter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-family: Verdana;
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-decoration: solid;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(250, 240, 240);
}

.icons {
    top: 400px;
    position: relative;
    left: 1000px;
}
